*, *:after, *:before {
  box-sizing: inherit;
}
::selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}
html {
  box-sizing: border-box;
  font-size: $root;
}
body {
  font-size: $fontsize;
  font-family: 'Baloo 2', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $black;
  background-color: $white;
  font-weight: $regular;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  padding: 2rem 0;
  @media (prefers-color-scheme: dark) {
    color: $white;
    background-color: $black;
  }
}
hr {
  border: 0;
  border-top: 0.05rem solid $contrast;
  margin: 2.5rem 0;
}
a {
  color: desaturate($contrast, 33%);
  text-decoration: none;
  &:hover, &:focus {
    color: $contrast;
  }
  &:visited {
    color: darken($contrast, 33%);
  }
}
mark {
  @include selection;
  padding: 0 0.25rem;
}
section {
  padding: 4rem 0rem;
}
.button, button, dd, dt, li {
  margin-bottom: 1rem;
}
dl, ol, ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  font-size: 1.4rem;
  margin: 1rem 0 1rem 2rem;
}
dd {
  margin: 0 0 1rem 2rem;
  font-size: 1.4rem;
}
ul {
  list-style: square inside;
}
ol {
  list-style: decimal inside;
}
