.container {
  width: 100%;
  padding: $container-padding $padding-mobile;
  margin: 0 auto;
  position: relative;
  display: block;
}
.visible-mobile-only { // Visible Mobile only
  display: block;
}
.visible-touch { // Visible from Mobile to $breakpoint-lm
  display: block;
}
.visible-desktop { // Visible from Desktop and above
  display: none;
}
.hidden-mobile { // Hidden only on mobile
  display: none;
}
.hidden-touch { // Hidden only from mobile to $breakpoint-lm
  display: none;
}
@media only screen and (min-width: $breakpoint-sm) {
  .container {
    max-width: $container-sm;
    padding: $container-padding $padding-sm;
  }
  .visible-mobile-only {
    display: none;
  }
  .hidden-mobile {
    display: block;
  }
}
@media only screen and (min-width: $breakpoint-m) {
  .container {
    max-width: $container-m;
    padding: $container-padding $padding-m;
  }
}
@media only screen and (min-width: $breakpoint-lm) {
  .container {
    max-width: $container-lm;
    padding: $container-padding $padding-lm;
  }
  .visible-touch {
    display: none;
  }
  .hidden-touch {
    display: block;
  }
  .visible-desktop {
    display: block;
  }
}
@media only screen and (min-width: $breakpoint-l) {
  .container {
    max-width: $container-l;
    padding: $container-padding $padding-l;
  }
}
@media only screen and (min-width: $breakpoint-xl) {
  .container {
    max-width: $container-xl;
    padding: $container-padding $padding-xl;
  }
}
