/* *** VARIABLES *** */

/* Colors */
$white: #eee;
$black: #18181b;
$contrast: #fa572a;

/* Typography */
$root: 62.5%; // 16px * 0.625 = 10px
$fontsize: 1.6rem; // 1.6rem = 10px * 1.6 = 16px
$h6: 1.6rem;
$h5: 1.8rem;
$h4: 2.2rem;
$h3: 2.6rem;
$h2: 3.2rem;
$h1: 3.8rem;
$headingmargin: 1.6rem;
$regular: 300;
$bold: 700;

/* Responsive */
$container-padding: 4rem;

$container-xl: 230rem;
$padding-xl: 5rem;
$breakpoint-xl: 150rem; // 2400px

$container-l: 152rem;
$padding-l: 4rem;
$breakpoint-l: 100rem; // 1600px

$container-lm: 120rem;
$padding-lm: 4rem;
$breakpoint-lm: 80rem; // 1280px

$container-m: 96rem;
$padding-m: 3.2rem;
$breakpoint-m: 64rem; // 1024px

$container-sm: 73.6rem;
$padding-sm: 1.6rem;
$breakpoint-sm: 48rem; // 768px

$padding-mobile: 1.6rem;
